<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserBroker" value="Nadyword"/>
    <add key="PassBroker" value="Sa753951."/>
  </appSettings>

  <connectionStrings>

    <add name="MqttDbDemo" connectionString="Data Source=DESCONOCIDO\SAMUEL;Initial Catalog=MqttDemo;User ID=sa;Password=753951;Integrated Security=SSPI"  />

  </connectionStrings>
  
</configuration>